<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <img class="headerIcon" src="assets/pngegg.png" height="70" />
        <a (click)="homePage()" class="navbar-brand fw-bold"><span style="color: #d9c3a9">Kahve</span><span
                style="color: #4e3529">Keyfi</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav fw-bold">
                <li class="nav-item">
                    <a class="mainOption nav-link" (click)="homePage()">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="option nav-link" (click)="aboutUs()">Kahve ve Biz</a>
                </li>
                <li class="nav-item">
                    <a class="option nav-link" (click)="coffeeSupplies()">Malzemeler</a>
                </li>
                <li *ngIf="adminCheck" class="nav-item">
                    <a class="nav-link adminPanel" (click)="adminPanel()">Admin Paneli</a>
                </li>
                <div class="profile" *ngIf="name">
                    <div>
                        <img class="profileImage"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/2048px-Windows_10_Default_Profile_Picture.svg.png">
                    </div>
                    <div>
                        <li class="nav-item dropdown">
                            <a class="option nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{name}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a (click)="userUpdate()" class="dropdown-item">Profil güncelle</a></li>
                                <li><a (click)="passwordUpdate()" class="dropdown-item">Şifre güncelle</a></li>
                            </ul>
                        </li>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="option nav-link" (click)="logOut()">Çıkış Yap</a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>