<div class="container">
    <div class="row">
        <main class="form-signin w-100 m-auto">
            <form [formGroup]="registerForm">
                <img class="mb-4" src="assets/pngegg.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder>
                    <label for="firstName">Ad</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder>
                    <label for="lastName">Soyad</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder>
                    <label for="email">E-posta</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder>
                    <label for="password">Şifre</label>
                </div>
                
                <button class="btn btn-primary w-100 py-2" (click)="register()">Kayıt Ol</button>
                <p class="text-center mt-2">Zaten hesabın var mı? <a (click)="login()">Giriş yap</a></p>
            </form>
        </main>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>