* {
  box-sizing: border-box;
}

footer {
  background-color: rgb(70, 92, 114);
}

.footerText {
  margin-top: 60px;
}

.footerText a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.footerText a:hover{
  color: white
}
