<div class="container">
    <div class="row">
        <div class="userUpdateImage text-center">
            <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/9977/9977360.png" width="100"
                height="100">
        </div>
        <main class="form-signin w-80 m-auto">
            <form [formGroup]="userUpdateForm">
                <h1 class="h3 mb-3 fw-normal">Profili Güncelle</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder>
                    <label for="firstName">Ad</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder>
                    <label for="lastName">Soyad</label>
                </div>
                <button class="btn btn-primary w-100 py-2" (click)="update()">Güncelle</button>
            </form>
        </main>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>