<div class="container">
    <div class="text-center">
        <div *ngIf="dataLoaded === false" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row" *ngIf="product">
        <div class="col-md-7">
            <div class="img">
                <img src="{{product.imagePath}}">
            </div>
        </div>

        <div class="col-md-5">
            <div class="productDiv text-center mt-5">
                <h4 class="mb-4">
                    <span><strong>Ürün Adı: </strong></span>
                    <span class="name"><strong><i>{{product.name}}</i></strong></span>
                </h4>
                <h4>
                    <span><strong>Ürün Fiyatı: </strong></span>
                    <span class="price"><strong><i>{{product.price}}₺</i></strong></span>
                </h4>
            </div>
            <form [formGroup]="orderAddForm" class="form">
                <div class="form-group mt-2 py-1">
                    <label for="userId" class="form-label">Müşteri Adı</label>
                    <input type="text" class="form-control" formControlName="userName" readonly>
                </div>
                <div class="mb-2 mt-1 py-1">
                    <label class="form-label">Ödenecek tutar</label>
                    <input class="form-control" type="number" placeholder="Ödenecek tutarı giriniz"
                        formControlName="amountPaid" />
                </div>
                <div *ngIf="successMessage" class="mb-3 py-1">
                    <label class="form-label successMessage"><strong>Siparişiniz Tamamlandı</strong></label>
                    <input class="form-control" type="text" readonly placeholder="{{successMessage}}" />
                </div>
                <div>
                    <button class="buy" (click)="add()">Ödeme işlemini tamamla</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>