.container {
  margin-top: 120px;
}

.img {
    width: 100%;
}

div input{
    background-color: #eee6dd;
}

.buy {
  background-color: rgb(196, 153, 108);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

h4{
    font-size: 27px;
}
.name{
   color: rgb(207, 0, 0);
}

.price{
    color: rgb(207, 0, 0);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
