<div class="container">
    <div class="text-center">
        <div *ngIf="dataLoaded === false" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="dataLoaded === true" class="card">
        <div class="card-header">
            <h5 class="title text-center">Product Update</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="productUpdateForm">
                <div class="form-group mb-3">
                    <label for="productName" class="form-label">Product Name</label>
                    <input class="form-control" type="text" id="productName" formControlName="name"
                        placeholder="Enter product name" />
                </div>
                <div class="form-group mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" type="number" id="price" formControlName="price"
                        placeholder="Enter product price" />
                </div>
                <div class="form-group mb-3">
                    <label for="imagePath" class="form-label">Image Path</label>
                    <input class="form-control" type="text" id="imagePath" formControlName="imagePath"
                        placeholder="Enter image path" />
                </div>
                <div class="form-group mb-2">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control textArea" type="text" id="description" formControlName="description"
                        name="mesage" rows="5"></textarea>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" (click)="update()">Update</button>
        </div>
    </div>
</div>