<div class="container">
    <div class="text-center">
        <div *ngIf="dataLoaded === false" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Product Name</th>
                <th>Amount Paid</th>
                <th>Refund paid</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.userName }}</td>
                <td>{{ order.productName }}</td>
                <td>{{ order.amountPaid }}₺</td>
                <td>{{ order.refundPaid }}₺</td>
            </tr>
        </tbody>
    </table>
</div>