<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="title text-center">Genel İçerik Ekle</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="generalContentAddForm">
                <div class="form-group mb-3">
                    <label for="generalContentName" class="form-label">General Content Name</label>
                    <input class="form-control" type="text" id="generalContentName" formControlName="name"
                        placeholder="Enter general content name" />
                </div>
                <div class="form-group mb-3">
                    <label for="type" class="form-label">Type</label>
                    <input class="form-control" type="text" id="type" formControlName="type"
                        placeholder="Enter general content type" />
                </div>
                <div class="form-group mb-3">
                    <label for="value" class="form-label">Value</label>
                    <input class="form-control" type="number" id="value" formControlName="value"
                        placeholder="Enter general content value" />
                </div>
                <div class="form-group mb-3">
                    <label for="isCriticalLevel" class="form-label">Is Critical Level</label>
                    <input class="form-control" type="text" id="isCriticalLevel" formControlName="isCritialLevel"
                        placeholder="False" readonly />
                </div>
                <div class="form-group mb-2">
                    <label for="imagePath" class="form-label">Image Path</label>
                    <input class="form-control" type="text" id="imagePath" formControlName="imagePath"
                        placeholder="Enter image path" />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" (click)="add()">Ekle</button>
        </div>
    </div>
</div>