<div class="text-center">
    <div *ngIf="dataLoaded === false" class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div *ngIf="dataLoaded === true" class="container">
    <div class="row">
        <div class="col-md-4 text-center product">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th colspan="4" class="text-center">
                            <div class="text-center">
                                <h4 class="title">Ürün Tablosu</h4>
                            </div>
                        </th>
                    </tr>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>Ürün adı</th>
                        <th>Fiyat</th>
                        <th class="buttonSize">
                            <button (click)="productAdd()" class="btnAdd">Yeni Ekle</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}₺</td>
                        <td class="buttonSize">
                            <button routerLink="/products/getbyid/{{product.id}}/update"
                                class="btnCustom">Güncelle</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4 text-center generalContent">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th colspan="4" class="text-center">
                            <div class="text-center">
                                <h4 class="title">Genel İçerik Tablosu</h4>
                            </div>
                        </th>
                    </tr>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>İçerik adı</th>
                        <th>Kritik Seviye</th>
                        <th class="buttonSize">
                            <button (click)="generalContentAdd()" class="btnAdd">Yeni Ekle</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let generalContent of generalContents">
                        <td>{{generalContent.id}}</td>
                        <td>{{generalContent.name}}</td>
                        <td>{{generalContent.isCritialLevel}}</td>
                        <td class="buttonSize">
                            <button routerLink="/generalContents/getbyid/{{generalContent.id}}"
                                class="btnCustom">Güncelle</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4 text-center productContent">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">
                            <div class="text-center">
                                <h4 class="title">Ürün İçeriği Tablosu</h4>
                            </div>
                        </th>
                    </tr>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>Ürün Adı</th>
                        <th>İçerik</th>
                        <th>Miktar</th>
                        <th class="buttonSize">
                            <button (click)="productContentAdd()" class="btnAdd">Yeni Ekle</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productContent of productContents">
                        <td>{{productContent.id}}</td>
                        <td>{{productContent.productName}}</td>
                        <td>{{productContent.generalContentName}}</td>
                        <td>{{productContent.unit}}</td>
                        <td class="buttonSize">
                            <button routerLink="/productContents/getbyid/{{productContent.id}}"
                                class="btnCustom">Güncelle</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-4 text-center operationClaim">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th colspan="4" class="text-center">
                            <div class="text-center">
                                <h4 class="title">Rol Tablosu</h4>
                            </div>
                        </th>
                    </tr>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>Rol Name</th>
                        <th class="buttonSize">
                            <button (click)="operationClaimAdd()" class="btnAdd">Yeni Ekle</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let operationClaim of operationClaims">
                        <td>{{operationClaim.id}}</td>
                        <td>{{operationClaim.name}}</td>
                        <td class="buttonSize">
                            <button routerLink="/operationClaims/getbyid/{{operationClaim.id}}"
                                class="btnCustom">Güncelle</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4 text-center userOperationClaim">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th colspan="4" class="text-center">
                            <div class="text-center">
                                <h4 class="title">Kullanıcı Rolü Tablosu</h4>
                            </div>
                        </th>
                    </tr>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>Kullanıcı</th>
                        <th>Rol</th>
                        <th class="buttonSize">
                            <button (click)="userOperationClaimAdd()" class="btnAdd">Yeni Ekle</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let userOperationClaim of userOperationClaims">
                        <td>{{userOperationClaim.id}}</td>
                        <td>{{userOperationClaim.userName}}</td>
                        <td>{{userOperationClaim.operationClaimName}}</td>
                        <td class="buttonSize">
                            <button routerLink="/userOperationClaims/getbyid/{{userOperationClaim.id}}"
                                class="btnCustom">Güncelle</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div (click)="statistics()" class="col-md-4 text-center statistics">
            <h5 class="statisticsTitle">İstatistikleri görüntülemek için tıklayın</h5>
        </div>
    </div>
</div>