<div class="text-center">
    <div *ngIf="dataLoaded === false" class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div *ngIf="dataLoaded === true" class="container">
    <div class="row mb-4">
        <div class="col-md-2 text-start">
            <button class="btn btn-info btn-lg">İstasistik</button>
        </div>
        <div class="col-md-8 text-center">
            <p>Lütfen işlem yapmak istediğiniz tablo ismine tıklayın</p>
        </div>
        <div class="col-md-2 text-end">
            <button class="btn btn-danger btn-lg">Çıkış</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 text-center product">
            <div class="text-center" (click)="toggleTable('product')">
                <h4>Product Table</h4>
            </div>
            <table class="table table-light table-hover" *ngIf="tableStatus['product']">
                <thead>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th class="buttonSize">
                            <button (click)="productAdd()" class="btnAdd">Add New</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}₺</td>
                        <td class="buttonSize">
                            <button routerLink="/products/getbyid/{{product.id}}/update"
                                class="btnCustom">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4 text-center generalContent">
            <div class="text-center" (click)="toggleTable('generalContent')">
                <h4>General Content Table</h4>
            </div>
            <table class="table table-light table-hover" *ngIf="tableStatus['generalContent']">
                <thead>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Critic Level</th>
                        <th class="buttonSize">
                            <button (click)="generalContentAdd()" class="btnAdd">Add New</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let generalContent of generalContents">
                        <td>{{generalContent.id}}</td>
                        <td>{{generalContent.name}}</td>
                        <td>{{generalContent.isCritialLevel}}</td>
                        <td class="buttonSize">
                            <button routerLink="/generalContents/getbyid/{{generalContent.id}}"
                                class="btnCustom">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4 text-center productContent">
            <div class="text-center" (click)="toggleTable('productContent')">
                <h4>Product Content Table</h4>
            </div>
            <table class="table table-light table-hover" *ngIf="tableStatus['productContent']">
                <thead>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Content</th>
                        <th>Unit</th>
                        <th class="buttonSize">
                            <button (click)="productContentAdd()" class="btnAdd">Add New</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productContent of productContents">
                        <td>{{productContent.id}}</td>
                        <td>{{productContent.productName}}</td>
                        <td>{{productContent.generalContentName}}</td>
                        <td>{{productContent.unit}}</td>
                        <td class="buttonSize">
                            <button routerLink="/productContents/getbyid/{{productContent.id}}"
                                class="btnCustom">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 text-center operationClaim">
            <div class="text-center" (click)="toggleTable('operationClaim')">
                <h4>Operation Claim Table</h4>
            </div>
            <table class="table table-light table-hover" *ngIf="tableStatus['operationClaim']">
                <thead>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>Name</th>
                        <th class="buttonSize">
                            <button (click)="operationClaimAdd()" class="btnAdd">Add New</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let operationClaim of operationClaims">
                        <td>{{operationClaim.id}}</td>
                        <td>{{operationClaim.name}}</td>
                        <td class="buttonSize">
                            <button routerLink="/operationClaims/getbyid/{{operationClaim.id}}"
                                class="btnCustom">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4 text-center userOperationClaim">
            <div class="text-center" (click)="toggleTable('userOperationClaim')">
                <h4>User Operation Claim Table</h4>
            </div>
            <table class="table table-light table-hover" *ngIf="tableStatus['userOperationClaim']">
                <thead>
                    <tr *ngIf="dataLoaded === true">
                        <th>Id</th>
                        <th>User</th>
                        <th>Operation C.</th>
                        <th class="buttonSize">
                            <button (click)="userOperationClaimAdd()" class="btnAdd">Add New</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let userOperationClaim of userOperationClaims">
                        <td>{{userOperationClaim.id}}</td>
                        <td>{{userOperationClaim.userName}}</td>
                        <td>{{userOperationClaim.operationClaimName}}</td>
                        <td class="buttonSize">
                            <button routerLink="/userOperationClaims/getbyid/{{userOperationClaim.id}}"
                                class="btnCustom">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>