.spinner-grow {
  color: rgb(196, 153, 108);
}

.row {
  margin-top: 100px;
}

.spinner-grow {
  margin-top: 420px;
}

.productDiv {
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px 20px;
}

.productDiv img {
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  height: 350px;
}

.productDiv h4 {
  text-align: center;
  color: #4e3529;
  padding: 20px;
}

.productDiv p {
  padding: 0px 15px;
  text-align: center;
  height: 20px;
}

.criticalLevel {
  color: rgb(207, 0, 0);
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.price .buy {
  background-color: rgb(196, 153, 108);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}
