<div class="container" id="home">
    <div class="text-center">
        <div *ngIf="dataLoaded === false" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="dataLoaded === true" class="row">
        <div class="col-md-4" *ngFor="let generalContent of generalContents">
            <div class="productDiv">
                <img [src]="generalContent.imagePath" alt="{{ generalContent.name }}" />
                <h4><strong><i>{{ generalContent.name }}</i></strong></h4>
                <div class="price" routerLink="/products/getproductsbygeneralcontentid/{{generalContent.id}}">
                    <button class="buy">İlgili kahvelere göz atın</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="dataLoaded == true">
    <app-footer ngSkipHydration></app-footer>
</div>