<div class="container">
    <div class="row">
        <div class="passwordUpdateImage text-center">
            <img class="mb-4"
                src="https://www.shutterstock.com/image-vector/password-reset-icon-flat-vector-600nw-2018493584.jpg"
                width="150" height="150">
        </div>
        <main class="form-signin w-80 m-auto">
            <form [formGroup]="passwordUpdateForm">
                <h1 class="h3 mb-3 fw-normal">Şifre Güncelle</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" id="oldPassword" formControlName="oldPassword" placeholder>
                    <label for="oldPassword">Eski şifre</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="newPassword" formControlName="newPassword" placeholder>
                    <label for="newPassword">Yeni şifre</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="secondNewPassword" formControlName="secondNewPassword"
                        placeholder>
                    <label for="secondNewPassword">Yeni şifre tekrar</label>
                </div>
                <button class="btn btn-primary w-100 py-2" (click)="update()">Güncelle</button>
            </form>
        </main>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>