* {
  box-sizing: border-box;
}

.container {
  margin-top: 120px;
}

html,
body {
  height: 100%;
}

form img {
  margin-left: 115px;
  height: max-content;
}

form h1 {
  text-align: center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[id="oldPassword"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="newPassword"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.passwordUpdateImage {
  margin-top: 13px;
  margin-bottom: -30px;
}

.form-signin input[id="secondNewPassword"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
