* {
  box-sizing: border-box;
}

input{
  background-color: #eee6dd;
}

.textArea {
  resize: none;
  background-color: #eee6dd;
}

.btn{
   background-color: rgb(196, 153, 108);
}

div h2{
    margin-top: 30px;
}
