<div class="container" id="home">
    <div class="text-center">
        <div *ngIf="dataLoaded === false" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="dataLoaded === true" class="row">
        <div class="search-container col-md-6">
            <div class="search-input-container">
                <i class="search-icon">
                    <img class="searchImage" src="assets/icons8-search-50.png">
                </i>
                <input type="text" [(ngModel)]="filterText" class="form-control expanded"
                    id="filterText" placeholder="ürün ismi giriniz">
            </div>
        </div>
        <div class="col-md-6 text-end"> 
            <button *ngIf="!loginCheck" (click)="login()" class="btn btn-success w-20 py-2">Giriş Yap/Kayıt Ol</button>
            <button *ngIf="adminCheck" (click)="adminPanel()" class="btn btn-info w-20 py-2">Admin Paneli</button>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let product of products | filterPipe:filterText">
            <div class="productDiv">
                <img [src]="product.imagePath" alt="{{ product.name }}" />
                <h3><strong><i>{{ product.name }}</i></strong></h3>
                <p>{{ product.description }}</p>

                <div class="price">
                    <p>{{product.price}} <i>TL</i></p>
                    <button routerLink="/products/getbyid/{{product.id}}" class="buy">Satın al</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="dataLoaded == true">
    <app-footer></app-footer>
</div>