*{
    box-sizing: border-box;
}

.container{
    margin-top: 30px;
}

.img{
    height: 520px;
    width: 520px;
}

div h2{
    text-align: start;
}

.row{
    text-align: start;
    align-items: center;
}

.space{
    margin-right: 80px;
}