<section class="container py-5">
    <div class="row firstRow py-5">
        <div class="firstImage col-lg-4">
            <img class="img" src="assets/hakkimizda.jpg" width="100%" />
        </div>
        <div class="col-lg-7 offset-lg-1">
            <h2 class="text-uppercase text-black space"><strong>Neden KahveKeyfi</strong></h2>
            <p class="lh-lg py-4 space">
                Kahve Keyfi, 2023 yılında kahve tutkunlarına unutulmaz bir deneyim
                sunmak amacıyla kuruldu. Başlangıcımızdan itibaren, kaliteli kahve
                çekirdeklerini titizlikle seçerek, lezzetin ve aromanın en üst
                düzeyde olduğu bir kahve deneyimi sağlamayı hedefledik.Özel kahve
                karışımlarımızı oluştururken, sürdürülebilirlik ve adil ticaret
                ilkelerini ön planda tutuyoruz.
            </p>
            <p class="space">
                Siz değerli müşterilerimizle birlikte, Kahve Keyfi'ni daha da
                güzelleştirmek için heyecanla çalışıyoruz. Bize katıldığınız için
                teşekkür ederiz ve sizi kahve tutkusunu paylaşan bir topluluğa davet
                ediyoruz.
            </p>
            <p class="mt-5 space">
                Keyifli anlar ve lezzetli kahvelerle dolu günler dileriz!
            </p>
        </div>
    </div>
    <div class="row secondRow">
        <div class="secondImage col-lg-7 offset-lg-1">
            <h2 class="text-uppercase text-black space"><strong>Kahvemizi kendimiz kavuruyoruz</strong></h2>
            <p class="lh-lg py-4 space">
                Tanzanya, Etiyopya, Endonezya, Guatemala, Kolombiya, Brezilya ve Kenya’daki yerel
                çiftlikleri bizzat
                ziyaret ediyor ve yerel üreticileri destekleyen programlar geliştiriyoruz. Çiftliklerden en iyi
                çekirdekleri seçiyor ve kahvemizi, dünyaca ünlü kahve uzmanı Renato Correira danışmanlığında kahve
                kavurma profillerini sürekli güncelleyerek kendi kavurma merkezimizde taze bir şekilde kavuruyoruz.
            </p>
            <p class="space"> Misafirlerimize sunduğumuz kahvelerin en büyük özelliği uzun stoklu olmamasıdır. Bizim
                için nitelikli
                kahve taze kahvedir. Zincir kahve markaları yurt dışından gelen ve 6 aydan hatta 1 yıldan uzun süreli
                kahveleri piyasaya sürmektedir. Biz bunu yapmıyoruz. En ileri kavurma tekniklerinin kullanıldığı üretim
                süreçlerine dayalı en kaliteli ürünü sunarak, Nitelikli Kahve akımının Türkiye’deki en başarılı
                temsilcilerinden biriyiz.</p>
        </div>
        <div class="col-lg-4">
            <img class="img" src="assets/hakkimizdaKavuruyoruz.jpg" width="100%" />
        </div>
    </div>

    <div>
        <app-footer></app-footer>
    </div>
</section>