<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="title text-center">Ürün İçeriği Ekle</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="productContentAddForm">
                <div class="form-group mb-3">
                    <label for="productId" class="form-label">Product</label>
                    <select id="productId" class="form-select" formControlName="productId">
                        <option [ngValue]="null">Ürün seçiniz</option>
                        <option *ngFor="let product of products" [value]="product.id">
                            {{product.name}}                        
                        </option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="generalContentId" class="form-label">General Content</label>
                    <select id="generalContentId" class="form-select" formControlName="generalContentId">
                        <option [ngValue]="null">Genel içerik seçiniz</option>
                        <option *ngFor="let generalContent of generalContents" [value]="generalContent.id">
                            {{generalContent.name}}                        
                        </option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="unit" class="form-label">Unit</label>
                    <input class="form-control" type="number" id="unit" formControlName="unit"
                        placeholder="Enter unit" />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" (click)="add()">Ekle</button>
        </div>
    </div>
</div>