* {
  box-sizing: border-box;
}

.container {
  margin-top: 150px;
}

.spinner-grow {
  color: rgb(196, 153, 108);
}

.spinner-grow {
  margin-top: 420px;
}

.table,
th,
td {
  border: solid 1px #d9c3a9;
}

.btn-info {
  width: 15%;
}

.col-md-10 {
  margin-top: 13px;
}

.title {
  color: rgb(207, 0, 0);
  font-weight: bold;
}

.col-md-4 {
  max-height: 360px;
  overflow-y: auto;
}
.product {
  padding-right: 12px;
}

.statistics {
  background-color: #d9c3a9;
  margin-bottom: 16px;
  cursor: pointer;
}

.statisticsTitle {
  color: black;
  margin-top: 133px;
  font-weight: bold;
}

.productContent {
  padding-left: 12px;
}

.operationClaim {
  padding-right: 12px;
}

.btnCustom {
  background-color: #d9c3a9;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.btnCustom:hover {
  color: black;
  border: solid 1px black;
}

.btnAdd {
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.buttonSize {
  width: 35%;
}
