* {
  box-sizing: border-box;
}

.container {
  margin-top: 150px;
  margin-bottom: 60px;
}

.spinner-grow {
  color: rgb(196, 153, 108);
}

.spinner-grow {
  margin-top: 420px;
}

.table,
th,
td {
  border: solid 1px #d9c3a9;
  padding: 15px;
}

.dayOfWeek {
  padding: 0px 50px 0px 50px;
}

.col-md-6 {
  padding: 0px 50px 0px 50px;
}