<div class="text-center">
    <div *ngIf="dataLoaded === false" class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="dataLoaded" class="container">
    <div class="row dayOfWeek mb-5">
        <div class="chart-custom">
            <canvas baseChart [datasets]="dayOfWeekChartData" [labels]="dayOfWeekChartLabel"></canvas>
        </div>
    </div>
    <hr>
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <div class="chart-custom">
                <canvas baseChart [datasets]="revenueChartData" [labels]="revenueChartLabel"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-custom">
                <canvas baseChart [datasets]="countChartData" [labels]="countChartLabel"></canvas>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <div class="chart-custom">
                <canvas baseChart [datasets]="topAndLeastSoldProductChartData"
                    [labels]="topAndLeastSoldproductChartLabel"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-custom">
                <canvas baseChart [datasets]="topAndLeastUserSoldChartData"
                    [labels]="topAndLeastUserSoldChartLabel"></canvas>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th colspan="2">Depoda Az Kalan Malzemeler</th>
                    </tr>
                    <tr *ngIf="dataLoaded">
                        <th>Malzeme</th>
                        <th>Miktar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let statistic of statistics.lowStockGeneralContent">
                        <td>{{statistic.generalContentName}}</td>
                        <td>{{statistic.value}} {{statistic.type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th colspan="2">Malzeme Yetersizliğinden Dolayı Yapılamayan Kahveler</th>
                    </tr>
                    <tr *ngIf="dataLoaded">
                        <th>Ürün İsmi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let statistic of statistics.outOfStockProducts">
                        <td>{{statistic}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>