<div class="text-center">
    <div *ngIf="dataLoaded === false" class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="dataLoaded" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart-custom">
                <canvas baseChart [datasets]="revenueChartData" [labels]="revenueChartLabel"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-custom">
                <canvas baseChart [datasets]="countChartData" [labels]="countChartLabel"></canvas>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="chart-custom">
                <canvas baseChart [datasets]="topSoldProductChartData" [labels]="topAndLeastSoldproductChartLabel"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-custom">
                <canvas baseChart [datasets]="topAndLeastUserSoldChartData"
                    [labels]="topAndLeastUserSoldChartLabel"></canvas>
            </div>
        </div>
    </div>

    <!-- <div class="row mt-5">
        <div class="col-md-6">
            <table class="table table-light">
                <thead class="text-center">
                    <tr *ngIf="dataLoaded === true">
                        <th>Depoda azalan malzemeler</th>
                        <th>Stokta olmayan ürünler</th>
                        <th>En çok sipariş verilen günler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="dataLoaded === true">
                        <td>{{statistics?.lowStockGeneralContents}}</td>
                        <td>{{statistics?.outOfStockProducts}}</td>
                        <td>{{statistics?.topOrderingDayOfWeek}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
</div>